.arrow {
  display: flex;
  align-items: center;
}

.localisation, .order-btn_container, header {
  display: flex;
  justify-content: center;
}

.item_selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_item-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@keyframes itemAppear {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
    z-index: -1;
  }
}

.loader {
  font-family: 'Shrikhand', cursive;
  color: white;
  font-size: 3rem;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  animation: loader 0.3s forwards;
  animation-delay: 3s;
  background: linear-gradient(0deg, rgba(37, 255, 226, 0.938), rgba(223, 118, 199, 0.931) 49%, rgba(204, 45, 253, 0.938) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader:after {
  content: "";
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.287);
  border-top-color: white;
  border-radius: 50%;
  animation: spinner 1s 3 ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.localisation {
  background-color: #EAEAEA;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.localisation_icon {
  margin-right: 0.5rem;
  color: #353535;
}

.localisation_text {
  font-weight: 600;
  color: #353535;
}

.presentation {
  text-align: center;
  background-color: #F6F6F6;
  padding: 2rem;
}

.presentation_title {
  margin-top: 0;
}

.presentation_subtitle {
  font-weight: 300;
  margin: 0 0 1.3rem 0;
}

.explore-link {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  padding: 0.7rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.explore-link:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.315);
}

.fonctionnement h2 {
  margin-left: 2rem;
}

.fonctionnement_list {
  list-style: none;
  padding: 0 0 0 1rem;
  counter-reset: list;
}

.fonctionnement_list-icon {
  width: 1.2rem;
  color: #ACACAC;
  padding: 0 0.8rem 0 0.5rem;
}

@media screen and (min-width: 900px) {
  .fonctionnement_list {
    display: flex;
  }
}

.fonctionnement_list-item {
  counter-increment: list;
  background: #F6F6F6;
  margin: 1.5rem 1rem;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  position: relative;
}

.fonctionnement_list-item::before {
  content: counter(list);
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}

.fonctionnement_list-item span {
  font-weight: 500;
}

@media screen and (min-width: 900px) {
  .fonctionnement_list-item {
    flex-grow: 1;
  }
}

#restaurant {
  background-color: #F6F6F6;
  padding: 2rem;
}

@media screen and (min-width: 1000px) {
  .restaurant_cards-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 0 8rem;
  }
}

.restaurant_card {
  background-color: white;
  position: relative;
  color: black;
  margin: 2rem 0 0 0;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.restaurant_card h3 {
  margin: 0.5rem 0 0 1rem;
}

.restaurant_card p {
  margin: 0.2rem 0 1rem 1rem;
}

@media screen and (min-width: 1000px) {
  .restaurant_card {
    margin: 0;
  }
}

.new::after {
  content: 'Nouveau';
  background-color: #99E2D0;
  color: #2c927a;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 3px;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  padding: 0.4rem 0.8rem;
}

.card_img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

footer {
  background: #353535;
  padding: 1rem 2rem;
}

footer h3 {
  font-family: 'Shrikhand', cursive;
  color: white;
  margin: 0;
}

footer li {
  margin-top: 0.5rem;
}

footer a {
  color: white;
}

.footer-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

figcaption {
  position: relative;
}

.card_like_btn {
  position: absolute;
  top: 10px;
  right: 3rem;
}

.card_like_btn i {
  font-size: 27px;
  position: absolute;
}

.card_like_btn:hover .heart-outline {
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.heart-solid {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.heart-solid:hover {
  opacity: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant-img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .restaurant-img {
    height: 31.1rem;
    object-fit: cover;
  }
}

.note {
  height: 20rem;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .note {
    height: 31.1rem;
    object-fit: cover;
  }
}

.arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  color: black;
}

.main-menu {
  background-color: #F6F6F6;
  margin-top: -4rem;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}

@media screen and (min-width: 1700px) {
  .main-menu {
    margin: -4rem 15rem 0 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.menu_content {
  padding: 0 1rem;
  min-width: 0;
}

.restaurant-title {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  padding: 1rem;
}

.menu_like_btn {
  position: absolute;
  top: 25px;
  right: 3rem;
}

.menu_like_btn i {
  font-size: 27px;
  position: absolute;
}

.menu_like_btn:hover .heart-outline {
  opacity: 0;
  transition: 0.3s;
}

.menu_content-title {
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.menu_content-title::after {
  content: "";
  width: 3rem;
  height: .2rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
}

.menu_item {
  background-color: white;
  display: flex;
  padding: 1rem;
  min-width: 250px;
  border-radius: 20px;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: itemAppear 1.5s ease-in-out backwards;
}

.menu_item-price {
  margin: 0;
  font-weight: 700;
  padding-left: .5rem;
}

.menu_item:nth-of-type(2) {
  animation-delay: 0.3s;
}

.menu_item:nth-of-type(3) {
  animation-delay: 0.5s;
}

.menu_item:nth-of-type(4) {
  animation-delay: 0.7s;
}

.menu_item-content {
  overflow: hidden;
  flex: 1;
}

.menu_item-content h3, .menu_item-content p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item_selection {
  background-color: #99e2d0;
  margin: -1rem -6rem -1rem 1rem;
  width: 5rem;
  transition: 0.5s;
}

.item_selection-icon {
  color: white;
  font-size: 25px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu_item:hover .item_selection {
  margin-right: -1rem;
}

.menu_item:hover .item_selection-icon {
  transform: rotate(0);
}

.order-btn_container {
  padding-bottom: 1rem;
}

.order-link {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  padding: 0.7rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.order-link:hover {
  filter: brightness(110%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.315);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.342);
  position: relative;
}
/*# sourceMappingURL=main.css.map */