@keyframes itemAppear {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes loader{
  100%{
    opacity: 0;
  }
}

@keyframes jump{
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);

}
}