@import './_variables';
@import'./_extend';
@import'./_animations';
@import'./_homepage';
@import'./menupages';

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0
}

header{
    @extend %justify-center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.342);
    position: relative;
}
